.main {
    width:100%;
    padding:1.5rem 1rem 2rem;
}

.crypto-stats-content {
    flex-wrap:wrap;
    row-gap:1.3rem;
    margin-top:1.5rem;
}

.crypto-stats-item {
    width:50%;
}

.crypto-stats-item h5 {
    font-weight:400;
    font-size:0.9rem;
    color:#a7a7a7;
}

.crypto-stats-item h4 {
    font-weight:500;
    font-size:1.35rem;
    margin-top:0.4rem;
}

.crypto-section-container {
    width:100%;
    margin-top:2rem;
}

.crypto-currencies-items {
    gap:0.7rem;
    margin-top:1.5rem;
}

.crypto-currencies-item {
    background-color:#fff;    
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius:4px;
}

.currencies-item-header {
    padding:0.7rem 0.9rem;
    border-bottom:solid 1px #e2e2e2;
}

.currencies-item-header h5 {
    font-weight:600;
    font-size:0.85rem;
}

.currencies-item-header img {
    width:30px;
    height:30px;
}

.currencies-specific-info {
    padding:1.2rem 1rem;
    row-gap:0.6rem;
}

.currencies-specific-info p{
    font-size:0.78rem;
    font-weight:400;
}

.news-section-container {
    margin-top:2rem;
}

.news-items {
    margin-top:1rem;
    gap:12px;
}

 .news-item {
    background-color:#fff !important;
    width:100%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding:1rem 0.7rem;
}

.news-item .news-item-title {
    column-gap:0.5rem;
    font-size:1.1rem;
}

.news-item .news-item-title h5 {
    font-weight:600;
    white-space:pre-wrap;
    flex:1;
}


.news-item .news-item-title img {
    aspect-ratio:4/4;

}

.news-item p {
    font-size:0.8rem;
    font-weight:400;
    width:100%;
    margin:0.8rem 0 1rem;
}

.news-item-info-detail {
    width:100%;
}

.news-item-info-detail h5 {
    font-weight:500;
    font-size:0.8rem;
    line-height:0;
}

.info-detail-provider {
    column-gap:0.5rem;
}

.info-detail-provider img {
    width:30px;
    border:solid 3px var(--pink);
    height:30px;
    border-radius:50%;
}

.info-detail-provider span {
    font-size:0.75rem;
}